{% extends "layout.html" %}

{% block content %}
<h2>Zarezerwuj Urlop</h2>

<div class="card single-card">
    <form method="post">
        <div class="form-group">
            <label for="employee_id">Pracownik</label>
            <select id="employee_id" name="employee_id" required>
                <option value="" disabled selected>Wybierz pracownika...</option>
                {% for id, name in employees %}
                <option value="{{ id }}">{{ name }} (ID: {{ id }})</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="start_date">Data Rozpoczęcia</label>
                <input type="date" id="start_date" name="start_date" required>
            </div>

            <div class="form-group">
                <label for="end_date">Data Zakończenia</label>
                <input type="date" id="end_date" name="end_date" required>
            </div>
        </div>

        <div class="form-group">
            <label for="reason">Powód</label>
            <input type="text" id="reason" name="reason" placeholder="np. Urlop Wypoczynkowy, L4" required>
        </div>

        <button type="submit" class="btn-primary">Zarezerwuj Urlop</button>
    </form>
</div>
{% endblock %}